<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ibfoods/css/main.css' %}"/>
    <title>IB Foods login</title>
</head>

<body class="login-page">
<div class="page-center">
    <form method="post">
    {% csrf_token %}
    <div class="row align-items-stretch mb-5">
        <div class="col-md-8">
            <h2>Log In</h2>
            <div class="form-group">
                <div class="input-group flex-nowrap form-item">
                    <span class="input-group-text col-md-2" id="addon-wrapping"><h6>Username</h6></span>
                    <input class="form-control" name="username" type="text" placeholder="Username"/>
                </div>
            </div>
        <div class="form-group">
                <div class="input-group flex-nowrap form-item">
                    <span class="input-group-text col-md-2" id="addon-wrapping"><h6>Password</h6></span>
                    <input class="form-control" name="password" type="password" placeholder="Password" />
                </div>
            </div>
            <input type="submit" class="save btn btn-success" value="Log In">
            {{form.errors}}
        </div>
        </div>
    </form>
</div>
</body>
</html>