{% extends 'base.html' %}
{% block content %}
{% load static %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Recipe Title</label>
      <input type="text" class="form-control" name="title" placeholder="Recipe title">
    </div>
    <div class="form-group">
      <label for="Ingredients">Ingredients</label>
      <input type="text" class="form-control" name="ingredients" placeholder="ingredients">
    </div>
    <div class="form-group">
        <label for="Instructions">Instructions</label>
        <textarea type="text" rows=10 class="form-control" name="instructions" placeholder="Instructions"></textarea>
      </div>
    <input type="submit" value="Submit">      
  </form>
{% endblock %}