<table class="table">
      <thead>
        <tr>
          <th scope="col">Recipe No</th>
          <th scope="col">Name</th>
          <th scope="col">Ingredients ID</th>
<!--           <th scope="col">Instructions</th> -->
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
           {% for r in rows %}
           <tr>
               <td>{{r.id}}</td>
               <td>{{r.title}}</td>
               <td>
                  <ul>
                    {% for ingredient in r.ingredients.all %}
                        <li>{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
              </td>
<!--               <td>{{r.instructions}}</td> -->
              <!-- <td><button class="btn btn-success" id="btn_approve" onclick="view_recipe(2)">Edit</button> -->
              <td><button class="btn btn-warning" id="btn_deny" onclick="view_recipe('{{r.id}}')">View</button>
                </td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
