<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto" id="sidebar_ul">
    <li class="nav-item">
        <a href="/" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="/recipe/add_recipe" class="nav-link" aria-current="page">Create New Recipe</a>
      </li>
        <li class="nav-item">
        <a href="/recipe/list_recipes" class="nav-link" aria-current="page">List All Recipes</a>
    </ul>
</div>